{$SITE_DOMAIN}, www.{$SITE_DOMAIN} {
  encode zstd gzip
  reverse_proxy app:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }
}

{$SIGN_DOMAIN} {
  encode zstd gzip
  reverse_proxy documenso:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }
}
